* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Sen', sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;
}

.App {
  height: 100vh;
  background-color: #8ECAE6;
  overflow-x: hidden;
}

.App .sections {
  width: 100%;
  height: calc(100vh - 150px);
  position: relative;
  top: 150px;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .App .sections {
    height: calc(100vh - 100px);
    top: 100px;
  }
}

@media screen and (max-width: 414px) and (max-height: 896px) {
  .App .sections {
    height: calc(100vh - 100px);
    top: 100px;
  }
}

.telly {
  width: 317px;
  height: 550px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
  -ms-grid-row-align: center;
      align-self: center;
}

.telly .tv-screen {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10%;
  margin: 1%;
  background-color: #8ECAE6;
  border-radius: 25px;
  -webkit-box-shadow: -2px -2px 8px rgba(226, 241, 249, 0.5), 2px 2px 8px rgba(40, 135, 180, 0.6);
          box-shadow: -2px -2px 8px rgba(226, 241, 249, 0.5), 2px 2px 8px rgba(40, 135, 180, 0.6);
}

.telly .tv-screen img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 1%;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(-16deg) translate(-10%, -10%);
            transform: rotate(-16deg) translate(-10%, -10%);
  }
  50% {
    -webkit-transform: rotate(16deg) translate(-10%, -10%);
            transform: rotate(16deg) translate(-10%, -10%);
  }
  100% {
    -webkit-transform: rotate(-16deg) translate(-10%, -10%);
            transform: rotate(-16deg) translate(-10%, -10%);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotate(-16deg) translate(-10%, -10%);
            transform: rotate(-16deg) translate(-10%, -10%);
  }
  50% {
    -webkit-transform: rotate(16deg) translate(-10%, -10%);
            transform: rotate(16deg) translate(-10%, -10%);
  }
  100% {
    -webkit-transform: rotate(-16deg) translate(-10%, -10%);
            transform: rotate(-16deg) translate(-10%, -10%);
  }
}

.telly .tv-screen .animate {
  height: 70%;
  width: 100%;
  margin-top: 15%;
  -webkit-animation-name: wave;
          animation-name: wave;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.telly .tv-screen .fit-image {
  max-height: 300px;
}

.telly .tv-buttons {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.telly .tv-buttons button {
  border: none;
}

.telly .tv-buttons .btn {
  color: #023047;
  border-radius: 100px;
  width: 63.61px;
  height: 64.38px;
  background: #8ECAE6;
  -webkit-box-shadow: -2px -2px 8px rgba(237, 237, 237, 0.5), 2px 2px 8px rgba(40, 135, 180, 0.6);
          box-shadow: -2px -2px 8px rgba(237, 237, 237, 0.5), 2px 2px 8px rgba(40, 135, 180, 0.6);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.telly .tv-buttons .btn:active, .telly .tv-buttons .btn:hover {
  -webkit-box-shadow: inset -2px -2px 8px rgba(237, 237, 237, 0.5), inset 2px 2px 8px rgba(40, 135, 180, 0.6);
          box-shadow: inset -2px -2px 8px rgba(237, 237, 237, 0.5), inset 2px 2px 8px rgba(40, 135, 180, 0.6);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.telly .image {
  height: 10%;
  width: 3.5%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .telly {
    height: 400px;
    padding: 1%;
  }
  .telly .tv-screen {
    padding: 4%;
  }
  .telly .tv-buttons .btn {
    width: 50px;
    height: 50px;
  }
  .telly .image {
    height: 13%;
    width: 3.5%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (max-width: 414px) and (max-height: 896px) {
  .telly .animate {
    margin-top: 50px;
  }
  .telly .image {
    height: 10%;
    width: 11%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
/*# sourceMappingURL=telly.css.map */