@import "../../global.scss";

.telly{
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	justify-content: center;
	width: 100%;

	@keyframes fade-in{
		0%{
			box-shadow: inset -1px -1px 4px rgba(226, 241, 249, 0.5), inset 2px 2px 8px rgba(40, 135, 180, 0.6);
			transform: translate(2px,2px);
		}
		33%{
			box-shadow: inset -1px -1px 2px rgba(226, 241, 249, 0.5), inset 1px 1px 4px rgba(40, 135, 180, 0.6);
			transform: translate(1px,1px);
		}
		66%{
			box-shadow: -1px -1px 4px rgba(226, 241, 249, 0.5), 1px 1px 4px rgba(40, 135, 180, 0.6);
		}
		100%{
			box-shadow: -2px -2px 8px rgba(226, 241, 249, 0.5), 2px 2px 8px rgba(40, 135, 180, 0.6);
		}
	}
	.tv-screen{
		height:auto;
		width:auto;
		padding:8%;
		margin:5%;
		background-color: $background-colour;
		border-radius: 25px;
		box-shadow: -2px -2px 8px rgba(226, 241, 249, 0.5), 2px 2px 8px rgba(40, 135, 180, 0.6);
		animation-name: fade-in;
		animation-duration: 1s;
		animation-timing-function: ease-out;
		animation-iteration-count: 1;
		img{
			display: block;
			margin-left: auto;
			margin-right: auto;
			border-radius: 5%;
			margin:1%;
		}

		@keyframes wave{
			0%{
				transform: scale(0.1) translateY(-200px) rotate(-16deg) translate(-10%,-10%);
			}
			10%{
				transform: scale(0.1) translateY(300px) rotate(16deg) translate(-10%,-10%);
			}
			20%{
				transform: scale(0.2)rotate(-16deg) translate(-10%,-10%);
			}
			30%{
				transform: scale(0.4) translateY(100px) rotate(16deg) translate(-10%,-10%);
			}
			40%{
				transform: scale(0.8) rotate(-16deg) translate(-10%,-10%);
			}
			42%{transform: rotate(-16deg) translate(-10%,-10%);}
			54%{transform: rotate(16deg) translate(-10%,-10%);}
			66%{transform: rotate(-16deg) translate(-10%,-10%);}
			78%{transform: rotate(16deg) translate(-10%,-10%);}
			80%{transform: rotate(-16deg) translate(-10%,-10%);}
			100%{
				transform: scale(0.1) translateY(-200px) rotate(16deg) translate(-10%,-10%);
			}
		}

		.animate{
			height:85%;
			width: 100%;
			animation-name: wave;
			animation-duration: 3s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			margin-top:20px;
		}
		.fit-image{
			height:100%;
			width:100%;
			object-fit: cover;
		}
	}
	.tv-buttons{
		width: 100%;
		border-radius: 10px;
		z-index: 6;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		padding: 5%;
		// margin-left: auto;
		// margin-right: auto;

		button{
			border:none;
		}

		.btn{
			
			@keyframes slide-up{
				0%{
					transform: translateY(200px);
					opacity: 0;
				}
				100%{
					transform: translate(0px);
					opacity: 1;
				}
			}
			color: $secondary;
			width: 40px;
			height: 40px;
			background: $background-colour;
			box-shadow: -2px -2px 8px rgba(237, 237, 237, 0.5), 2px 2px 8px rgba(40, 135, 180, 0.6);
			border-radius: 8px;
			cursor: pointer;
			transition: all 200ms linear; 
			@include center-flex;

			.featherIcon{
			animation-name: slide-up;
			animation-duration: 2s;
			animation-timing-function: linear;
			animation-iteration-count: 1;
			}
		}
		.btn:active, .btn:hover{
			box-shadow: inset -2px -2px 8px rgba(237, 237, 237, 0.5), inset 2px 2px 8px rgba(40, 135, 180, 0.6);
			transform: translateY(2px);
			transition: all 200ms linear; 
		}
	}	
}


@media screen and (min-width:960px) and (min-height:540px){
	.telly{
		width:40%;
		.tv-screen{
			display: flex;
			.animate{
				margin-left: 15px;
				height:100%;
				width: 85%;
				align-self: center;
			}
			.fit-image{
				object-fit:fill;
			}
		}
	}
}
@media screen and (min-width:1024px) and (min-height:640px){
	.telly{
		.tv-screen{
			padding:5%;
		}
	}
}
@media screen and (min-width:1920px) and (min-height:1080px){
	.telly{
		.tv-screen{
			padding:3%;
		}
	}
}


