@import "../../global.scss";

.about{
	width:100vw;
	@include center-flex;
	scroll-snap-align: start;
	height: calc(100vh - 100px);
	margin-top: 400px;
	font-size: 1.5em;
	p{
		font-family: 'Fira Sans', sans-serif;
		font-weight: 400;
		width: 60%;
		margin: 1%;
	}
}

@media screen and (max-width:1920px) and (max-height:1080px){
	
}
@media screen and (max-width:1536px) and (max-height:864px){
	
}
@media screen and (max-width:1366px) and (max-height:768px){

}
@media screen and (max-width:414px) and (max-height:896px){
	.about{
		padding: 5%;
		p{
			font-family: 'Fira Sans', sans-serif;
			font-weight: 400;
			width: 100%;
			margin: 2%;
		}
	}
}
@media screen and (max-width:375px) and (max-height:667px){
	
}
@media screen and (max-width:360px) and (max-height:640px){
	
}