* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Sen', sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;
}

.App {
  height: 100vh;
  background-color: #8ECAE6;
  overflow-x: hidden;
}

.App .sections {
  width: 100%;
  height: calc(100vh - 150px);
  position: relative;
  top: 150px;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .App .sections {
    height: calc(100vh - 100px);
    top: 100px;
  }
}

@media screen and (max-width: 414px) and (max-height: 896px) {
  .App .sections {
    height: calc(100vh - 100px);
    top: 100px;
  }
}

.navbar {
  margin-top: 10px;
  height: 100px;
  width: 100%;
  z-index: 10;
  text-align: center;
  position: fixed;
  padding: 1%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8ECAE6;
  font-size: 0.85em;
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-box-shadow: inset -1px -1px 4px rgba(226, 241, 249, 0.5), inset 2px 2px 8px rgba(40, 135, 180, 0.6);
            box-shadow: inset -1px -1px 4px rgba(226, 241, 249, 0.5), inset 2px 2px 8px rgba(40, 135, 180, 0.6);
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  33% {
    -webkit-box-shadow: inset -1px -1px 2px rgba(226, 241, 249, 0.5), inset 1px 1px 4px rgba(40, 135, 180, 0.6);
            box-shadow: inset -1px -1px 2px rgba(226, 241, 249, 0.5), inset 1px 1px 4px rgba(40, 135, 180, 0.6);
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  66% {
    -webkit-box-shadow: -2px -2px 8px rgba(226, 241, 249, 0.5), 1px 1px 4px rgba(40, 135, 180, 0.6);
            box-shadow: -2px -2px 8px rgba(226, 241, 249, 0.5), 1px 1px 4px rgba(40, 135, 180, 0.6);
  }
  100% {
    -webkit-box-shadow: -4px -4px 12px rgba(226, 241, 249, 0.5), 2px 2px 8px rgba(40, 135, 180, 0.6);
            box-shadow: -4px -4px 12px rgba(226, 241, 249, 0.5), 2px 2px 8px rgba(40, 135, 180, 0.6);
  }
}

@keyframes fade-in {
  0% {
    -webkit-box-shadow: inset -1px -1px 4px rgba(226, 241, 249, 0.5), inset 2px 2px 8px rgba(40, 135, 180, 0.6);
            box-shadow: inset -1px -1px 4px rgba(226, 241, 249, 0.5), inset 2px 2px 8px rgba(40, 135, 180, 0.6);
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  33% {
    -webkit-box-shadow: inset -1px -1px 2px rgba(226, 241, 249, 0.5), inset 1px 1px 4px rgba(40, 135, 180, 0.6);
            box-shadow: inset -1px -1px 2px rgba(226, 241, 249, 0.5), inset 1px 1px 4px rgba(40, 135, 180, 0.6);
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  66% {
    -webkit-box-shadow: -2px -2px 8px rgba(226, 241, 249, 0.5), 1px 1px 4px rgba(40, 135, 180, 0.6);
            box-shadow: -2px -2px 8px rgba(226, 241, 249, 0.5), 1px 1px 4px rgba(40, 135, 180, 0.6);
  }
  100% {
    -webkit-box-shadow: -4px -4px 12px rgba(226, 241, 249, 0.5), 2px 2px 8px rgba(40, 135, 180, 0.6);
            box-shadow: -4px -4px 12px rgba(226, 241, 249, 0.5), 2px 2px 8px rgba(40, 135, 180, 0.6);
  }
}

.navbar .link {
  display: inline-block;
  border-radius: 5px;
  margin-left: 3%;
  margin-right: 3%;
  cursor: pointer;
  text-decoration: none;
  color: #023047;
  -webkit-box-shadow: -4px -4px 12px rgba(226, 241, 249, 0.5), 2px 2px 8px rgba(40, 135, 180, 0.6);
          box-shadow: -4px -4px 12px rgba(226, 241, 249, 0.5), 2px 2px 8px rgba(40, 135, 180, 0.6);
  height: 40px;
  width: 125px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    opacity: 1;
  }
}

.navbar .link div {
  width: 100%;
  -webkit-animation-name: slide-down;
          animation-name: slide-down;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.navbar .link:hover {
  -webkit-box-shadow: inset -1px -1px 4px rgba(226, 241, 249, 0.5), inset 2px 2px 8px rgba(40, 135, 180, 0.6);
          box-shadow: inset -1px -1px 4px rgba(226, 241, 249, 0.5), inset 2px 2px 8px rgba(40, 135, 180, 0.6);
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.navbar .active {
  -webkit-box-shadow: inset -1px -1px 4px rgba(226, 241, 249, 0.5), inset 2px 2px 8px rgba(40, 135, 180, 0.6);
          box-shadow: inset -1px -1px 4px rgba(226, 241, 249, 0.5), inset 2px 2px 8px rgba(40, 135, 180, 0.6);
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

@media screen and (min-width: 960px) and (min-height: 540px) {
  .navbar {
    font-size: 1em;
  }
}
/*# sourceMappingURL=sticky.css.map */