@import "../../global.scss";

.navbar{
	margin-top: 10px;
	height:100px;
	width: 100%;
	z-index: 10;
	text-align: center;
	position: fixed;
	padding:1%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: $background-colour;
	font-size: 0.85em;

	@keyframes fade-in{
		0%{
			box-shadow: inset 2px 2px 8px $box-shadow-dark, inset -1px -1px 4px $box-shadow-light;
			transform: translate(2px,2px);
		}
		33%{
			box-shadow: inset 1px 1px 4px $box-shadow-dark, inset -1px -1px 2px $box-shadow-light;
			transform: translate(1px,1px);
		}
		66%{
			box-shadow: -2px -2px 8px $box-shadow-light, 1px 1px 4px $box-shadow-dark;
		}
		100%{
			box-shadow: -4px -4px 12px $box-shadow-light, 2px 2px 8px $box-shadow-dark;
		}
	}

	.link{
		display: inline-block;
		border-radius: 5px;
		margin-left:3%;
		margin-right:3%;
		cursor: pointer;
		text-decoration: none;
		color: $secondary;
		box-shadow: -1px -1px 6px $box-shadow-light, 1px 1px 4px $box-shadow-dark;
		height:40px;
		width:125px;
		transition: all 200ms linear; 
		display: flex;
		justify-content: center;
		align-items: center;
		animation-name: fade-in;
		animation-duration: 500ms;
		animation-timing-function: ease-out;
		animation-iteration-count: 1;
		@keyframes slide-down{
			0%{
				transform: translateY(-100px);
				opacity: 0;
			}
			100%{
				transform: translate(0px);
				opacity: 1;
			}
		}
		div{
			width: 100%;
			animation-name: slide-down;
			animation-duration: 2s;
			animation-timing-function: linear;
			animation-iteration-count: 1;
		}
	}
	
	.link:hover{
		@include inset-shadow;
	}
	.active{
		@include inset-shadow;
	}
}

@media screen and (min-width:960px) and (min-height:540px){
	.navbar{
		font-size: 1em;
	}
}

